body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFFCF2;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

#intro_0, #intro_1 {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#intro_0 {
    background-image: url('WhatsApp Image 2024-05-31 at 15.44.20 copy.jpeg');
}

#intro_1 {
    background-image: url('WhatsApp Image 2024-05-31 at 15.44.20.jpeg');
}

#blog-section {
    padding: 20px;
    text-align: left;
}

.heading {
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.blog-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #5B2906;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    color: #d97c39;
    margin-bottom: 10px;
    text-align: center;
}

.blog-description {
    color: #a19b9b;
    margin-bottom: 15px;
    text-align: center;
}

.blog-content {
    flex: 1;
    transition: transform 0.2s ease-in-out;
    margin-left: 0;
    text-align: center;
}

.read-more {
    text-decoration: none;
    color: #d97c39;
    font-weight: bold;
    transition: color 0.3s;
}

.read-more:hover {
    color: rgb(217, 145, 94);
}

#dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #253f50;
    color: #fff;
    border-radius: 6px;
}

#back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .blog-container {
        flex-direction: row;
        justify-content: flex-start;
    }

    .blog-content {
        text-align: left;
        margin-left: 40px;
    }

    .blog-image {
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
}

@media (min-width: 1024px) {
    #blog-section {
        padding: 50px;
    }

    .blog-container {
        max-width: 1000px;
    }
}
